In [21]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import yfinance as yf

In [ ]:
#Downloading Tickers of S&P500 stocks
url = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")
table = soup.find("table", {"class": "wikitable"})

tickers = []
for row in table.find_all("tr")[1:]:
    columns = row.find_all("td")
    ticker = columns[0].text.strip()
    tickers.append(ticker)


sp500_df = pd.DataFrame({"Ticker": tickers})
sp500_df.to_csv("sp500_tickers.csv", index=False)

In [17]:
data = pd.read_csv("sp500_tickers.csv")
data

    Ticker
0      MMM
1      AOS
2      ABT
3     ABBV
4      ACN
..     ...
498    YUM
499   ZBRA
500    ZBH
501   ZION
502    ZTS

[503 rows x 1 columns]

In [22]:
#Downloading closing prize for eg. APPLE
AAPL = yf.Ticker("AAPL")
print(AAPL.history(period="10y").Close)

Date
2013-09-03 00:00:00-04:00     15.228882
2013-09-04 00:00:00-04:00     15.544003
2013-09-05 00:00:00-04:00     15.437405
2013-09-06 00:00:00-04:00     15.529359
2013-09-09 00:00:00-04:00     15.777156
                                ...
2023-08-28 00:00:00-04:00    180.190002
2023-08-29 00:00:00-04:00    184.119995
2023-08-30 00:00:00-04:00    187.649994
2023-08-31 00:00:00-04:00    187.869995
2023-09-01 00:00:00-04:00    189.460007
Name: Close, Length: 2518, dtype: float64

In [31]:
#The same for every SP500 company
for index, row in data.iterrows():
    print(row[0])
    X = yf.Ticker(row[0])
    print(X.history(period="3d").Close)

MMM
Date
2023-08-30 00:00:00-04:00    104.449997
2023-08-31 00:00:00-04:00    106.669998
2023-09-01 00:00:00-04:00    106.949997
Name: Close, dtype: float64
AOS
Date
2023-08-30 00:00:00-04:00    72.300003
2023-08-31 00:00:00-04:00    72.500000
2023-09-01 00:00:00-04:00    73.570000
Name: Close, dtype: float64
ABT
Date
2023-08-30 00:00:00-04:00    104.410004
2023-08-31 00:00:00-04:00    102.900002
2023-09-01 00:00:00-04:00    102.849998
Name: Close, dtype: float64
ABBV
Date
2023-08-30 00:00:00-04:00    148.320007
2023-08-31 00:00:00-04:00    146.960007
2023-09-01 00:00:00-04:00    148.199997
Name: Close, dtype: float64
ACN
Date
2023-08-30 00:00:00-04:00    323.250000
2023-08-31 00:00:00-04:00    323.769989
2023-09-01 00:00:00-04:00    327.739990
Name: Close, dtype: float64
ATVI
Date
2023-08-30 00:00:00-04:00    91.980003
2023-08-31 00:00:00-04:00    91.989998
2023-09-01 00:00:00-04:00    92.040001
Name: Close, dtype: float64
ADM
Date
2023-08-30 00:00:00-04:00    80.750000
2023-08-31 00:00:00-04:00    79.300003
2023-09-01 00:00:00-04:00    79.790001
Name: Close, dtype: float64
ADBE
Date
2023-08-30 00:00:00-04:00    545.359985
2023-08-31 00:00:00-04:00    559.340027
2023-09-01 00:00:00-04:00    563.210022
Name: Close, dtype: float64
ADP
Date
2023-08-30 00:00:00-04:00    254.929993
2023-08-31 00:00:00-04:00    254.610001
2023-09-01 00:00:00-04:00    255.750000
Name: Close, dtype: float64
AES
Date
2023-08-30 00:00:00-04:00    18.219999
2023-08-31 00:00:00-04:00    17.930000
2023-09-01 00:00:00-04:00    17.889999
Name: Close, dtype: float64
AFL
Date
2023-08-30 00:00:00-04:00    74.680000
2023-08-31 00:00:00-04:00    74.570000
2023-09-01 00:00:00-04:00    74.769997
Name: Close, dtype: float64
A
Date
2023-08-30 00:00:00-04:00    122.680000
2023-08-31 00:00:00-04:00    121.070000
2023-09-01 00:00:00-04:00    121.910004
Name: Close, dtype: float64
APD
Date
2023-08-30 00:00:00-04:00    295.519989
2023-08-31 00:00:00-04:00    295.489990
2023-09-01 00:00:00-04:00    298.019989
Name: Close, dtype: float64
AKAM
Date
2023-08-30 00:00:00-04:00    104.639999
2023-08-31 00:00:00-04:00    105.089996
2023-09-01 00:00:00-04:00    105.349998
Name: Close, dtype: float64
ALK
Date
2023-08-30 00:00:00-04:00    42.080002
2023-08-31 00:00:00-04:00    41.970001
2023-09-01 00:00:00-04:00    41.779999
Name: Close, dtype: float64
ALB
Date
2023-08-30 00:00:00-04:00    198.589996
2023-08-31 00:00:00-04:00    198.710007
2023-09-01 00:00:00-04:00    200.259995
Name: Close, dtype: float64
ARE
Date
2023-08-30 00:00:00-04:00    117.820000
2023-08-31 00:00:00-04:00    116.339996
2023-09-01 00:00:00-04:00    116.949997
Name: Close, dtype: float64
ALGN
Date
2023-08-30 00:00:00-04:00    370.859985
2023-08-31 00:00:00-04:00    370.140015
2023-09-01 00:00:00-04:00    374.899994
Name: Close, dtype: float64
ALLE
Date
2023-08-30 00:00:00-04:00    113.570000
2023-08-31 00:00:00-04:00    113.809998
2023-09-01 00:00:00-04:00    114.750000
Name: Close, dtype: float64
LNT
Date
2023-08-30 00:00:00-04:00    50.830002
2023-08-31 00:00:00-04:00    50.169998
2023-09-01 00:00:00-04:00    49.790001
Name: Close, dtype: float64
ALL
Date
2023-08-30 00:00:00-04:00    109.260002
2023-08-31 00:00:00-04:00    107.809998
2023-09-01 00:00:00-04:00    110.559998
Name: Close, dtype: float64
GOOGL
Date
2023-08-30 00:00:00-04:00    135.880005
2023-08-31 00:00:00-04:00    136.169998
2023-09-01 00:00:00-04:00    135.660004
Name: Close, dtype: float64
GOOG
Date
2023-08-30 00:00:00-04:00    136.929993
2023-08-31 00:00:00-04:00    137.350006
2023-09-01 00:00:00-04:00    136.800003
Name: Close, dtype: float64
MO
Date
2023-08-30 00:00:00-04:00    44.520000
2023-08-31 00:00:00-04:00    44.220001
2023-09-01 00:00:00-04:00    44.110001
Name: Close, dtype: float64
AMZN
Date
2023-08-30 00:00:00-04:00    135.070007
2023-08-31 00:00:00-04:00    138.009995
2023-09-01 00:00:00-04:00    138.119995
Name: Close, dtype: float64
AMCR
Date
2023-08-30 00:00:00-04:00    9.75
2023-08-31 00:00:00-04:00    9.74
2023-09-01 00:00:00-04:00    9.78
Name: Close, dtype: float64
AMD
Date
2023-08-30 00:00:00-04:00    106.589996
2023-08-31 00:00:00-04:00    105.720001
2023-09-01 00:00:00-04:00    109.449997
Name: Close, dtype: float64
AEE
Date
2023-08-30 00:00:00-04:00    80.400002
2023-08-31 00:00:00-04:00    79.269997
2023-09-01 00:00:00-04:00    78.449997
Name: Close, dtype: float64
AAL
Date
2023-08-30 00:00:00-04:00    14.77
2023-08-31 00:00:00-04:00    14.73
2023-09-01 00:00:00-04:00    14.68
Name: Close, dtype: float64
AEP
Date
2023-08-30 00:00:00-04:00    79.440002
2023-08-31 00:00:00-04:00    78.400002
2023-09-01 00:00:00-04:00    77.519997
Name: Close, dtype: float64
AXP
Date
2023-08-30 00:00:00-04:00    160.169998
2023-08-31 00:00:00-04:00    157.990005
2023-09-01 00:00:00-04:00    159.619995
Name: Close, dtype: float64
AIG
Date
2023-08-30 00:00:00-04:00    58.340000
2023-08-31 00:00:00-04:00    58.520000
2023-09-01 00:00:00-04:00    59.240002
Name: Close, dtype: float64
AMT
Date
2023-08-30 00:00:00-04:00    182.279999
2023-08-31 00:00:00-04:00    181.320007
2023-09-01 00:00:00-04:00    180.789993
Name: Close, dtype: float64
AWK
Date
2023-08-30 00:00:00-04:00    139.529999
2023-08-31 00:00:00-04:00    138.740005
2023-09-01 00:00:00-04:00    137.800003
Name: Close, dtype: float64
AMP
Date
2023-08-30 00:00:00-04:00    340.140015
2023-08-31 00:00:00-04:00    337.579987
2023-09-01 00:00:00-04:00    342.309998
Name: Close, dtype: float64
AME
Date
2023-08-30 00:00:00-04:00    160.289993
2023-08-31 00:00:00-04:00    159.509995
2023-09-01 00:00:00-04:00    160.649994
Name: Close, dtype: float64
AMGN
Date
2023-08-30 00:00:00-04:00    257.880005
2023-08-31 00:00:00-04:00    256.339996
2023-09-01 00:00:00-04:00    256.709991
Name: Close, dtype: float64
APH
Date
2023-08-30 00:00:00-04:00    88.290001
2023-08-31 00:00:00-04:00    88.379997
2023-09-01 00:00:00-04:00    88.570000
Name: Close, dtype: float64
ADI
Date
2023-08-30 00:00:00-04:00    180.710999
2023-08-31 00:00:00-04:00    180.919998
2023-09-01 00:00:00-04:00    182.429993
Name: Close, dtype: float64
ANSS
Date
2023-08-30 00:00:00-04:00    315.959991
2023-08-31 00:00:00-04:00    318.869995
2023-09-01 00:00:00-04:00    319.029999
Name: Close, dtype: float64
AON
Date
2023-08-30 00:00:00-04:00    334.630005
2023-08-31 00:00:00-04:00    333.390015
2023-09-01 00:00:00-04:00    334.339996
Name: Close, dtype: float64
APA
Date
2023-08-30 00:00:00-04:00    43.720001
2023-08-31 00:00:00-04:00    43.840000
2023-09-01 00:00:00-04:00    45.080002
Name: Close, dtype: float64
AAPL
Date
2023-08-30 00:00:00-04:00    187.649994
2023-08-31 00:00:00-04:00    187.869995
2023-09-01 00:00:00-04:00    189.460007
Name: Close, dtype: float64
AMAT
Date
2023-08-30 00:00:00-04:00    150.949997
2023-08-31 00:00:00-04:00    152.759995
2023-09-01 00:00:00-04:00    153.990005
Name: Close, dtype: float64
APTV
Date
2023-08-30 00:00:00-04:00    101.639999
2023-08-31 00:00:00-04:00    101.449997
2023-09-01 00:00:00-04:00    104.489998
Name: Close, dtype: float64
ACGL
Date
2023-08-30 00:00:00-04:00    77.089996
2023-08-31 00:00:00-04:00    76.860001
2023-09-01 00:00:00-04:00    77.010002
Name: Close, dtype: float64
ANET
Date
2023-08-30 00:00:00-04:00    187.100006
2023-08-31 00:00:00-04:00    195.229996
2023-09-01 00:00:00-04:00    197.360001
Name: Close, dtype: float64
AJG
Date
2023-08-30 00:00:00-04:00    230.279999
2023-08-31 00:00:00-04:00    230.479996
2023-09-01 00:00:00-04:00    231.070007
Name: Close, dtype: float64
AIZ
Date
2023-08-30 00:00:00-04:00    138.990005
2023-08-31 00:00:00-04:00    139.330002
2023-09-01 00:00:00-04:00    140.020004
Name: Close, dtype: float64
T
Date
2023-08-30 00:00:00-04:00    14.73
2023-08-31 00:00:00-04:00    14.79
2023-09-01 00:00:00-04:00    14.65
Name: Close, dtype: float64
ATO
Date
2023-08-30 00:00:00-04:00    117.360001
2023-08-31 00:00:00-04:00    115.949997
2023-09-01 00:00:00-04:00    115.470001
Name: Close, dtype: float64
ADSK
Date
2023-08-30 00:00:00-04:00    221.550003
2023-08-31 00:00:00-04:00    221.940002
2023-09-01 00:00:00-04:00    220.020004
Name: Close, dtype: float64
AZO
Date
2023-08-30 00:00:00-04:00    2563.179932
2023-08-31 00:00:00-04:00    2531.330078
2023-09-01 00:00:00-04:00    2542.389893
Name: Close, dtype: float64
AVB
Date
2023-08-30 00:00:00-04:00    185.160004
2023-08-31 00:00:00-04:00    183.820007
2023-09-01 00:00:00-04:00    181.350006
Name: Close, dtype: float64
AVY
Date
2023-08-30 00:00:00-04:00    187.809998
2023-08-31 00:00:00-04:00    188.380005
2023-09-01 00:00:00-04:00    189.020004
Name: Close, dtype: float64
AXON
Date
2023-08-30 00:00:00-04:00    211.100006
2023-08-31 00:00:00-04:00    212.910004
2023-09-01 00:00:00-04:00    215.389999
Name: Close, dtype: float64
BKR
Date
2023-08-30 00:00:00-04:00    36.049999
2023-08-31 00:00:00-04:00    36.189999
2023-09-01 00:00:00-04:00    36.810001
Name: Close, dtype: float64
BALL
Date
2023-08-30 00:00:00-04:00    54.209999
2023-08-31 00:00:00-04:00    54.450001
2023-09-01 00:00:00-04:00    54.930000
Name: Close, dtype: float64
BAC
Date
2023-08-30 00:00:00-04:00    28.800001
2023-08-31 00:00:00-04:00    28.670000
2023-09-01 00:00:00-04:00    28.980000
Name: Close, dtype: float64
BBWI
Date
2023-08-30 00:00:00-04:00    38.110001
2023-08-31 00:00:00-04:00    36.869999
2023-09-01 00:00:00-04:00    38.150002
Name: Close, dtype: float64
BAX
Date
2023-08-30 00:00:00-04:00    41.680004
2023-08-31 00:00:00-04:00    40.599998
2023-09-01 00:00:00-04:00    40.599998
Name: Close, dtype: float64
BDX
Date
2023-08-30 00:00:00-04:00    280.299988
2023-08-31 00:00:00-04:00    279.450012
2023-09-01 00:00:00-04:00    278.459991
Name: Close, dtype: float64
WRB

BRK.B: No data found, symbol may be delisted

Date
2023-08-30 00:00:00-04:00    61.660000
2023-08-31 00:00:00-04:00    61.860001
2023-09-01 00:00:00-04:00    62.430000
Name: Close, dtype: float64
BRK.B
Series([], Name: Close, dtype: float64)
BBY
Date
2023-08-30 00:00:00-04:00    75.930000
2023-08-31 00:00:00-04:00    76.449997
2023-09-01 00:00:00-04:00    75.269997
Name: Close, dtype: float64
BIO
Date
2023-08-30 00:00:00-04:00    396.850006
2023-08-31 00:00:00-04:00    400.200012
2023-09-01 00:00:00-04:00    394.600006
Name: Close, dtype: float64
TECH
Date
2023-08-30 00:00:00-04:00    80.239998
2023-08-31 00:00:00-04:00    78.400002
2023-09-01 00:00:00-04:00    78.760002
Name: Close, dtype: float64
BIIB
Date
2023-08-30 00:00:00-04:00    267.179993
2023-08-31 00:00:00-04:00    267.359985
2023-09-01 00:00:00-04:00    267.170013
Name: Close, dtype: float64
BLK
Date
2023-08-30 00:00:00-04:00    695.809998
2023-08-31 00:00:00-04:00    700.539978
2023-09-01 00:00:00-04:00    706.190002
Name: Close, dtype: float64
BK
Date
2023-08-30 00:00:00-04:00    44.490002
2023-08-31 00:00:00-04:00    44.869999
2023-09-01 00:00:00-04:00    45.419998
Name: Close, dtype: float64
BA
Date
2023-08-30 00:00:00-04:00    228.850006
2023-08-31 00:00:00-04:00    224.029999
2023-09-01 00:00:00-04:00    223.399994
Name: Close, dtype: float64
BKNG
Date
2023-08-30 00:00:00-04:00    3130.590088
2023-08-31 00:00:00-04:00    3105.030029
2023-09-01 00:00:00-04:00    3114.889893
Name: Close, dtype: float64
BWA
Date
2023-08-30 00:00:00-04:00    40.579998
2023-08-31 00:00:00-04:00    40.750000
2023-09-01 00:00:00-04:00    41.290001
Name: Close, dtype: float64
BXP
Date
2023-08-30 00:00:00-04:00    67.300003
2023-08-31 00:00:00-04:00    66.769997
2023-09-01 00:00:00-04:00    66.680000
Name: Close, dtype: float64
BSX
Date
2023-08-30 00:00:00-04:00    54.270000
2023-08-31 00:00:00-04:00    53.939999
2023-09-01 00:00:00-04:00    53.619999
Name: Close, dtype: float64
BMY
Date
2023-08-30 00:00:00-04:00    62.380001
2023-08-31 00:00:00-04:00    61.650002
2023-09-01 00:00:00-04:00    62.020000
Name: Close, dtype: float64
AVGO
Date
2023-08-30 00:00:00-04:00    892.280029
2023-08-31 00:00:00-04:00    922.890015
2023-09-01 00:00:00-04:00    872.520020
Name: Close, dtype: float64
BR
Date
2023-08-30 00:00:00-04:00    186.830002
2023-08-31 00:00:00-04:00    186.210007
2023-09-01 00:00:00-04:00    187.740005
Name: Close, dtype: float64
BRO

BF.B: Period '3d' is invalid, must be one of ['1mo', '3mo', '6mo', 'ytd', '1y', '2y', '5y', '10y', 'max']

Date
2023-08-30 00:00:00-04:00    74.120003
2023-08-31 00:00:00-04:00    74.099998
2023-09-01 00:00:00-04:00    74.199997
Name: Close, dtype: float64
BF.B
Series([], Name: Close, dtype: float64)
BG
Date
2023-08-30 00:00:00-04:00    114.500000
2023-08-31 00:00:00-04:00    114.320000
2023-09-01 00:00:00-04:00    115.019997
Name: Close, dtype: float64
CHRW
Date
2023-08-30 00:00:00-04:00    94.019997
2023-08-31 00:00:00-04:00    90.430000
2023-09-01 00:00:00-04:00    88.349998
Name: Close, dtype: float64
CDNS
Date
2023-08-30 00:00:00-04:00    239.880005
2023-08-31 00:00:00-04:00    240.440002
2023-09-01 00:00:00-04:00    243.559998
Name: Close, dtype: float64
CZR
Date
2023-08-30 00:00:00-04:00    53.919998
2023-08-31 00:00:00-04:00    55.259998
2023-09-01 00:00:00-04:00    55.750000
Name: Close, dtype: float64
CPT
Date
2023-08-30 00:00:00-04:00    108.320000
2023-08-31 00:00:00-04:00    107.620003
2023-09-01 00:00:00-04:00    106.739998
Name: Close, dtype: float64
CPB
Date
2023-08-30 00:00:00-04:00    41.959999
2023-08-31 00:00:00-04:00    41.700001
2023-09-01 00:00:00-04:00    40.889999
Name: Close, dtype: float64
COF
Date
2023-08-30 00:00:00-04:00    102.559998
2023-08-31 00:00:00-04:00    102.389999
2023-09-01 00:00:00-04:00    103.500000
Name: Close, dtype: float64
CAH
Date
2023-08-30 00:00:00-04:00    88.040001
2023-08-31 00:00:00-04:00    87.330002
2023-09-01 00:00:00-04:00    87.580002
Name: Close, dtype: float64
KMX
Date
2023-08-30 00:00:00-04:00    82.250000
2023-08-31 00:00:00-04:00    81.680000
2023-09-01 00:00:00-04:00    83.580002
Name: Close, dtype: float64
CCL
Date
2023-08-30 00:00:00-04:00    15.87
2023-08-31 00:00:00-04:00    15.82
2023-09-01 00:00:00-04:00    15.73
Name: Close, dtype: float64
CARR
Date
2023-08-30 00:00:00-04:00    57.180000
2023-08-31 00:00:00-04:00    57.450001
2023-09-01 00:00:00-04:00    57.939999
Name: Close, dtype: float64
CTLT
Date
2023-08-30 00:00:00-04:00    48.980000
2023-08-31 00:00:00-04:00    49.970001
2023-09-01 00:00:00-04:00    50.200001
Name: Close, dtype: float64
CAT
Date
2023-08-30 00:00:00-04:00    282.329987
2023-08-31 00:00:00-04:00    281.130005
2023-09-01 00:00:00-04:00    286.250000
Name: Close, dtype: float64
CBOE
Date
2023-08-30 00:00:00-04:00    149.889999
2023-08-31 00:00:00-04:00    149.710007
2023-09-01 00:00:00-04:00    150.360001
Name: Close, dtype: float64
CBRE
Date
2023-08-30 00:00:00-04:00    84.680000
2023-08-31 00:00:00-04:00    85.050003
2023-09-01 00:00:00-04:00    86.019997
Name: Close, dtype: float64
CDW
Date
2023-08-30 00:00:00-04:00    208.110001
2023-08-31 00:00:00-04:00    211.149994
2023-09-01 00:00:00-04:00    213.179993
Name: Close, dtype: float64
CE
Date
2023-08-30 00:00:00-04:00    125.300003
2023-08-31 00:00:00-04:00    126.360001
2023-09-01 00:00:00-04:00    128.899994
Name: Close, dtype: float64
COR
Date
2023-08-30 00:00:00-04:00    178.899994
2023-08-31 00:00:00-04:00    175.979996
2023-09-01 00:00:00-04:00    174.960007
Name: Close, dtype: float64
CNC
Date
2023-08-30 00:00:00-04:00    62.720001
2023-08-31 00:00:00-04:00    61.650002
2023-09-01 00:00:00-04:00    61.270000
Name: Close, dtype: float64
CNP
Date
2023-08-30 00:00:00-04:00    27.920000
2023-08-31 00:00:00-04:00    27.889999
2023-09-01 00:00:00-04:00    27.650000
Name: Close, dtype: float64
CDAY
Date
2023-08-30 00:00:00-04:00    72.059998
2023-08-31 00:00:00-04:00    72.519997
2023-09-01 00:00:00-04:00    73.110001
Name: Close, dtype: float64
CF
Date
2023-08-30 00:00:00-04:00    76.769997
2023-08-31 00:00:00-04:00    77.070000
2023-09-01 00:00:00-04:00    79.209999
Name: Close, dtype: float64
CRL
Date
2023-08-30 00:00:00-04:00    209.679993
2023-08-31 00:00:00-04:00    206.820007
2023-09-01 00:00:00-04:00    209.619995
Name: Close, dtype: float64
SCHW
Date
2023-08-30 00:00:00-04:00    59.779999
2023-08-31 00:00:00-04:00    59.150002
2023-09-01 00:00:00-04:00    60.500000
Name: Close, dtype: float64
CHTR
Date
2023-08-30 00:00:00-04:00    439.510010
2023-08-31 00:00:00-04:00    438.119995
2023-09-01 00:00:00-04:00    422.320007
Name: Close, dtype: float64
CVX
Date
2023-08-30 00:00:00-04:00    160.179993
2023-08-31 00:00:00-04:00    161.100006
2023-09-01 00:00:00-04:00    164.300003
Name: Close, dtype: float64
CMG
Date
2023-08-30 00:00:00-04:00    1938.569946
2023-08-31 00:00:00-04:00    1926.640015
2023-09-01 00:00:00-04:00    1938.609985
Name: Close, dtype: float64
CB
Date
2023-08-30 00:00:00-04:00    201.759995
2023-08-31 00:00:00-04:00    200.869995
2023-09-01 00:00:00-04:00    203.289993
Name: Close, dtype: float64
CHD
Date
2023-08-30 00:00:00-04:00    96.010002
2023-08-31 00:00:00-04:00    96.769997
2023-09-01 00:00:00-04:00    96.260002
Name: Close, dtype: float64
CI
Date
2023-08-30 00:00:00-04:00    282.670013
2023-08-31 00:00:00-04:00    276.260010
2023-09-01 00:00:00-04:00    276.670013
Name: Close, dtype: float64
CINF
Date
2023-08-30 00:00:00-04:00    106.190002
2023-08-31 00:00:00-04:00    105.790001
2023-09-01 00:00:00-04:00    106.480003
Name: Close, dtype: float64
CTAS
Date
2023-08-30 00:00:00-04:00    505.989990
2023-08-31 00:00:00-04:00    504.170013
2023-09-01 00:00:00-04:00    505.260010
Name: Close, dtype: float64
CSCO
Date
2023-08-30 00:00:00-04:00    56.810001
2023-08-31 00:00:00-04:00    57.349998
2023-09-01 00:00:00-04:00    57.840000
Name: Close, dtype: float64
C
Date
2023-08-30 00:00:00-04:00    41.369999
2023-08-31 00:00:00-04:00    41.290001
2023-09-01 00:00:00-04:00    41.590000
Name: Close, dtype: float64
CFG
Date
2023-08-30 00:00:00-04:00    27.990000
2023-08-31 00:00:00-04:00    28.129999
2023-09-01 00:00:00-04:00    28.629999
Name: Close, dtype: float64
CLX
Date
2023-08-30 00:00:00-04:00    157.059998
2023-08-31 00:00:00-04:00    156.449997
2023-09-01 00:00:00-04:00    155.240005
Name: Close, dtype: float64
CME
Date
2023-08-30 00:00:00-04:00    202.449997
2023-08-31 00:00:00-04:00    202.679993
2023-09-01 00:00:00-04:00    202.889999
Name: Close, dtype: float64
CMS
Date
2023-08-30 00:00:00-04:00    56.730000
2023-08-31 00:00:00-04:00    56.189999
2023-09-01 00:00:00-04:00    55.389999
Name: Close, dtype: float64
KO
Date
2023-08-30 00:00:00-04:00    60.470001
2023-08-31 00:00:00-04:00    59.830002
2023-09-01 00:00:00-04:00    59.310001
Name: Close, dtype: float64
CTSH
Date
2023-08-30 00:00:00-04:00    71.489998
2023-08-31 00:00:00-04:00    71.610001
2023-09-01 00:00:00-04:00    71.730003
Name: Close, dtype: float64
CL
Date
2023-08-30 00:00:00-04:00    73.849998
2023-08-31 00:00:00-04:00    73.470001
2023-09-01 00:00:00-04:00    73.269997
Name: Close, dtype: float64
CMCSA
Date
2023-08-30 00:00:00-04:00    47.119999
2023-08-31 00:00:00-04:00    46.759998
2023-09-01 00:00:00-04:00    45.730000
Name: Close, dtype: float64
CMA
Date
2023-08-30 00:00:00-04:00    47.990002
2023-08-31 00:00:00-04:00    48.110001
2023-09-01 00:00:00-04:00    48.700001
Name: Close, dtype: float64
CAG
Date
2023-08-30 00:00:00-04:00    30.110001
2023-08-31 00:00:00-04:00    29.879999
2023-09-01 00:00:00-04:00    29.320000
Name: Close, dtype: float64
COP
Date
2023-08-30 00:00:00-04:00    118.699997
2023-08-31 00:00:00-04:00    119.029999
2023-09-01 00:00:00-04:00    122.139999
Name: Close, dtype: float64
ED
Date
2023-08-30 00:00:00-04:00    89.830002
2023-08-31 00:00:00-04:00    88.959999
2023-09-01 00:00:00-04:00    88.349998
Name: Close, dtype: float64
STZ
Date
2023-08-30 00:00:00-04:00    260.859985
2023-08-31 00:00:00-04:00    260.559998
2023-09-01 00:00:00-04:00    259.480011
Name: Close, dtype: float64
CEG
Date
2023-08-30 00:00:00-04:00    105.739998
2023-08-31 00:00:00-04:00    104.160004
2023-09-01 00:00:00-04:00    107.290001
Name: Close, dtype: float64
COO
Date
2023-08-30 00:00:00-04:00    380.859985
2023-08-31 00:00:00-04:00    369.989990
2023-09-01 00:00:00-04:00    364.690002
Name: Close, dtype: float64
CPRT
Date
2023-08-30 00:00:00-04:00    45.070000
2023-08-31 00:00:00-04:00    44.830002
2023-09-01 00:00:00-04:00    44.980000
Name: Close, dtype: float64
GLW
Date
2023-08-30 00:00:00-04:00    32.759998
2023-08-31 00:00:00-04:00    32.820000
2023-09-01 00:00:00-04:00    32.860001
Name: Close, dtype: float64
CTVA
Date
2023-08-30 00:00:00-04:00    51.099998
2023-08-31 00:00:00-04:00    50.509998
2023-09-01 00:00:00-04:00    51.110001
Name: Close, dtype: float64
CSGP
Date
2023-08-30 00:00:00-04:00    82.599998
2023-08-31 00:00:00-04:00    81.989998
2023-09-01 00:00:00-04:00    82.570000
Name: Close, dtype: float64
COST
Date
2023-08-30 00:00:00-04:00    542.260010
2023-08-31 00:00:00-04:00    549.280029
2023-09-01 00:00:00-04:00    544.250000
Name: Close, dtype: float64
CTRA
Date
2023-08-30 00:00:00-04:00    28.139999
2023-08-31 00:00:00-04:00    28.190001
2023-09-01 00:00:00-04:00    28.459999
Name: Close, dtype: float64
CCI
Date
2023-08-30 00:00:00-04:00    100.820000
2023-08-31 00:00:00-04:00    100.500000
2023-09-01 00:00:00-04:00     99.769997
Name: Close, dtype: float64
CSX
Date
2023-08-30 00:00:00-04:00    30.730000
2023-08-31 00:00:00-04:00    30.200001
2023-09-01 00:00:00-04:00    30.629999
Name: Close, dtype: float64
CMI
Date
2023-08-30 00:00:00-04:00    232.029999
2023-08-31 00:00:00-04:00    230.039993
2023-09-01 00:00:00-04:00    236.639999
Name: Close, dtype: float64
CVS
Date
2023-08-30 00:00:00-04:00    66.830002
2023-08-31 00:00:00-04:00    65.169998
2023-09-01 00:00:00-04:00    65.669998
Name: Close, dtype: float64
DHI
Date
2023-08-30 00:00:00-04:00    119.000000
2023-08-31 00:00:00-04:00    119.019997
2023-09-01 00:00:00-04:00    120.180000
Name: Close, dtype: float64
DHR
Date
2023-08-30 00:00:00-04:00    264.170013
2023-08-31 00:00:00-04:00    265.000000
2023-09-01 00:00:00-04:00    265.589996
Name: Close, dtype: float64
DRI
Date
2023-08-30 00:00:00-04:00    157.139999
2023-08-31 00:00:00-04:00    155.509995
2023-09-01 00:00:00-04:00    155.559998
Name: Close, dtype: float64
DVA
Date
2023-08-30 00:00:00-04:00    103.309998
2023-08-31 00:00:00-04:00    102.419998
2023-09-01 00:00:00-04:00    102.989998
Name: Close, dtype: float64
DE
Date
2023-08-30 00:00:00-04:00    413.269989
2023-08-31 00:00:00-04:00    410.940002
2023-09-01 00:00:00-04:00    418.899994
Name: Close, dtype: float64
DAL
Date
2023-08-30 00:00:00-04:00    43.230000
2023-08-31 00:00:00-04:00    42.880001
2023-09-01 00:00:00-04:00    42.860001
Name: Close, dtype: float64
XRAY
Date
2023-08-30 00:00:00-04:00    37.349998
2023-08-31 00:00:00-04:00    37.090000
2023-09-01 00:00:00-04:00    37.480000
Name: Close, dtype: float64
DVN
Date
2023-08-30 00:00:00-04:00    50.660000
2023-08-31 00:00:00-04:00    51.090000
2023-09-01 00:00:00-04:00    52.919998
Name: Close, dtype: float64
DXCM
Date
2023-08-30 00:00:00-04:00    103.419998
2023-08-31 00:00:00-04:00    100.980003
2023-09-01 00:00:00-04:00    101.900002
Name: Close, dtype: float64
FANG
Date
2023-08-30 00:00:00-04:00    151.309998
2023-08-31 00:00:00-04:00    151.779999
2023-09-01 00:00:00-04:00    154.660004
Name: Close, dtype: float64
DLR
Date
2023-08-30 00:00:00-04:00    131.660004
2023-08-31 00:00:00-04:00    131.720001
2023-09-01 00:00:00-04:00    132.110001
Name: Close, dtype: float64
DFS
Date
2023-08-30 00:00:00-04:00    89.720001
2023-08-31 00:00:00-04:00    90.070000
2023-09-01 00:00:00-04:00    92.059998
Name: Close, dtype: float64
DIS
Date
2023-08-30 00:00:00-04:00    84.279999
2023-08-31 00:00:00-04:00    83.680000
2023-09-01 00:00:00-04:00    81.639999
Name: Close, dtype: float64
DG
Date
2023-08-30 00:00:00-04:00    157.660004
2023-08-31 00:00:00-04:00    138.500000
2023-09-01 00:00:00-04:00    130.270004
Name: Close, dtype: float64
DLTR
Date
2023-08-30 00:00:00-04:00    124.489998
2023-08-31 00:00:00-04:00    122.360001
2023-09-01 00:00:00-04:00    118.739998
Name: Close, dtype: float64
D
Date
2023-08-30 00:00:00-04:00    48.832001
2023-08-31 00:00:00-04:00    48.540001
2023-09-01 00:00:00-04:00    47.880001
Name: Close, dtype: float64
DPZ
Date
2023-08-30 00:00:00-04:00    394.190002
2023-08-31 00:00:00-04:00    387.399994
2023-09-01 00:00:00-04:00    391.140015
Name: Close, dtype: float64
DOV
Date
2023-08-30 00:00:00-04:00    148.240005
2023-08-31 00:00:00-04:00    148.300003
2023-09-01 00:00:00-04:00    148.699997
Name: Close, dtype: float64
DOW
Date
2023-08-30 00:00:00-04:00    54.750000
2023-08-31 00:00:00-04:00    54.560001
2023-09-01 00:00:00-04:00    55.290001
Name: Close, dtype: float64
DTE
Date
2023-08-30 00:00:00-04:00    104.739998
2023-08-31 00:00:00-04:00    103.379997
2023-09-01 00:00:00-04:00    102.180000
Name: Close, dtype: float64
DUK
Date
2023-08-30 00:00:00-04:00    89.949997
2023-08-31 00:00:00-04:00    88.800003
2023-09-01 00:00:00-04:00    87.930000
Name: Close, dtype: float64
DD
Date
2023-08-30 00:00:00-04:00    76.989998
2023-08-31 00:00:00-04:00    76.889999
2023-09-01 00:00:00-04:00    77.970001
Name: Close, dtype: float64
DXC
Date
2023-08-30 00:00:00-04:00    20.520000
2023-08-31 00:00:00-04:00    20.740000
2023-09-01 00:00:00-04:00    21.110001
Name: Close, dtype: float64
EMN
Date
2023-08-30 00:00:00-04:00    85.190002
2023-08-31 00:00:00-04:00    85.010002
2023-09-01 00:00:00-04:00    85.959999
Name: Close, dtype: float64
ETN
Date
2023-08-30 00:00:00-04:00    230.080002
2023-08-31 00:00:00-04:00    230.369995
2023-09-01 00:00:00-04:00    233.669998
Name: Close, dtype: float64
EBAY
Date
2023-08-30 00:00:00-04:00    44.500000
2023-08-31 00:00:00-04:00    44.779999
2023-09-01 00:00:00-04:00    45.099998
Name: Close, dtype: float64
ECL
Date
2023-08-30 00:00:00-04:00    183.869995
2023-08-31 00:00:00-04:00    183.809998
2023-09-01 00:00:00-04:00    182.699997
Name: Close, dtype: float64
EIX
Date
2023-08-30 00:00:00-04:00    69.930000
2023-08-31 00:00:00-04:00    68.849998
2023-09-01 00:00:00-04:00    68.410004
Name: Close, dtype: float64
EW
Date
2023-08-30 00:00:00-04:00    77.820000
2023-08-31 00:00:00-04:00    76.470001
2023-09-01 00:00:00-04:00    76.379997
Name: Close, dtype: float64
EA
Date
2023-08-30 00:00:00-04:00    120.550003
2023-08-31 00:00:00-04:00    119.980003
2023-09-01 00:00:00-04:00    120.540001
Name: Close, dtype: float64
ELV
Date
2023-08-30 00:00:00-04:00    459.570007
2023-08-31 00:00:00-04:00    442.010010
2023-09-01 00:00:00-04:00    442.380005
Name: Close, dtype: float64
LLY
Date
2023-08-30 00:00:00-04:00    547.989990
2023-08-31 00:00:00-04:00    554.200012
2023-09-01 00:00:00-04:00    557.109985
Name: Close, dtype: float64
EMR
Date
2023-08-30 00:00:00-04:00    98.290001
2023-08-31 00:00:00-04:00    98.250000
2023-09-01 00:00:00-04:00    98.919998
Name: Close, dtype: float64
ENPH
Date
2023-08-30 00:00:00-04:00    128.110001
2023-08-31 00:00:00-04:00    126.529999
2023-09-01 00:00:00-04:00    128.729996
Name: Close, dtype: float64
ETR
Date
2023-08-30 00:00:00-04:00    96.720001
2023-08-31 00:00:00-04:00    95.250000
2023-09-01 00:00:00-04:00    94.339996
Name: Close, dtype: float64
EOG
Date
2023-08-30 00:00:00-04:00    127.769997
2023-08-31 00:00:00-04:00    128.619995
2023-09-01 00:00:00-04:00    130.979996
Name: Close, dtype: float64
EPAM
Date
2023-08-30 00:00:00-04:00    255.369995
2023-08-31 00:00:00-04:00    258.989990
2023-09-01 00:00:00-04:00    258.549988
Name: Close, dtype: float64
EQT
Date
2023-08-30 00:00:00-04:00    42.990002
2023-08-31 00:00:00-04:00    43.220001
2023-09-01 00:00:00-04:00    44.220001
Name: Close, dtype: float64
EFX
Date
2023-08-30 00:00:00-04:00    207.509995
2023-08-31 00:00:00-04:00    206.699997
2023-09-01 00:00:00-04:00    206.830002
Name: Close, dtype: float64
EQIX
Date
2023-08-30 00:00:00-04:00    792.539978
2023-08-31 00:00:00-04:00    781.380005
2023-09-01 00:00:00-04:00    777.520020
Name: Close, dtype: float64
EQR
Date
2023-08-30 00:00:00-04:00    65.500000
2023-08-31 00:00:00-04:00    64.830002
2023-09-01 00:00:00-04:00    64.000000
Name: Close, dtype: float64
ESS
Date
2023-08-30 00:00:00-04:00    240.160004
2023-08-31 00:00:00-04:00    238.389999
2023-09-01 00:00:00-04:00    237.520004
Name: Close, dtype: float64
EL
Date
2023-08-30 00:00:00-04:00    163.570007
2023-08-31 00:00:00-04:00    160.529999
2023-09-01 00:00:00-04:00    161.699997
Name: Close, dtype: float64
ETSY
Date
2023-08-30 00:00:00-04:00    74.320000
2023-08-31 00:00:00-04:00    73.570000
2023-09-01 00:00:00-04:00    74.635002
Name: Close, dtype: float64
EG
Date
2023-08-30 00:00:00-04:00    362.700012
2023-08-31 00:00:00-04:00    360.679993
2023-09-01 00:00:00-04:00    364.799988
Name: Close, dtype: float64
EVRG
Date
2023-08-30 00:00:00-04:00    55.439999
2023-08-31 00:00:00-04:00    54.970001
2023-09-01 00:00:00-04:00    53.599998
Name: Close, dtype: float64
ES
Date
2023-08-30 00:00:00-04:00    64.419998
2023-08-31 00:00:00-04:00    63.820000
2023-09-01 00:00:00-04:00    63.049999
Name: Close, dtype: float64
EXC
Date
2023-08-30 00:00:00-04:00    40.419998
2023-08-31 00:00:00-04:00    40.119999
2023-09-01 00:00:00-04:00    39.990002
Name: Close, dtype: float64
EXPE
Date
2023-08-30 00:00:00-04:00    108.860001
2023-08-31 00:00:00-04:00    108.389999
2023-09-01 00:00:00-04:00    109.570000
Name: Close, dtype: float64
EXPD
Date
2023-08-30 00:00:00-04:00    117.779999
2023-08-31 00:00:00-04:00    116.709999
2023-09-01 00:00:00-04:00    116.370003
Name: Close, dtype: float64
EXR
Date
2023-08-30 00:00:00-04:00    130.630005
2023-08-31 00:00:00-04:00    128.679993
2023-09-01 00:00:00-04:00    128.830002
Name: Close, dtype: float64
XOM
Date
2023-08-30 00:00:00-04:00    110.879997
2023-08-31 00:00:00-04:00    111.190002
2023-09-01 00:00:00-04:00    113.519997
Name: Close, dtype: float64
FFIV
Date
2023-08-30 00:00:00-04:00    162.740005
2023-08-31 00:00:00-04:00    163.660004
2023-09-01 00:00:00-04:00    164.610001
Name: Close, dtype: float64
FDS
Date
2023-08-30 00:00:00-04:00    434.950012
2023-08-31 00:00:00-04:00    436.410004
2023-09-01 00:00:00-04:00    435.480011
Name: Close, dtype: float64
FICO
Date
2023-08-30 00:00:00-04:00    898.690002
2023-08-31 00:00:00-04:00    904.590027
2023-09-01 00:00:00-04:00    896.559998
Name: Close, dtype: float64
FAST
Date
2023-08-30 00:00:00-04:00    57.779999
2023-08-31 00:00:00-04:00    57.580002
2023-09-01 00:00:00-04:00    57.279999
Name: Close, dtype: float64
FRT
Date
2023-08-30 00:00:00-04:00    98.739998
2023-08-31 00:00:00-04:00    97.940002
2023-09-01 00:00:00-04:00    98.059998
Name: Close, dtype: float64
FDX
Date
2023-08-30 00:00:00-04:00    263.890015
2023-08-31 00:00:00-04:00    261.019989
2023-09-01 00:00:00-04:00    260.970001
Name: Close, dtype: float64
FITB
Date
2023-08-30 00:00:00-04:00    26.389999
2023-08-31 00:00:00-04:00    26.549999
2023-09-01 00:00:00-04:00    27.049999
Name: Close, dtype: float64
FSLR
Date
2023-08-30 00:00:00-04:00    184.960007
2023-08-31 00:00:00-04:00    189.119995
2023-09-01 00:00:00-04:00    186.369995
Name: Close, dtype: float64
FE
Date
2023-08-30 00:00:00-04:00    36.290001
2023-08-31 00:00:00-04:00    36.070000
2023-09-01 00:00:00-04:00    35.689999
Name: Close, dtype: float64
FIS
Date
2023-08-30 00:00:00-04:00    56.290001
2023-08-31 00:00:00-04:00    55.860001
2023-09-01 00:00:00-04:00    56.680000
Name: Close, dtype: float64
FI
Date
2023-08-30 00:00:00-04:00    122.589996
2023-08-31 00:00:00-04:00    121.389999
2023-09-01 00:00:00-04:00    122.809998
Name: Close, dtype: float64
FLT
Date
2023-08-30 00:00:00-04:00    273.239990
2023-08-31 00:00:00-04:00    271.730011
2023-09-01 00:00:00-04:00    272.859985
Name: Close, dtype: float64
FMC
Date
2023-08-30 00:00:00-04:00    88.400002
2023-08-31 00:00:00-04:00    86.230003
2023-09-01 00:00:00-04:00    86.089996
Name: Close, dtype: float64
F
Date
2023-08-30 00:00:00-04:00    12.03
2023-08-31 00:00:00-04:00    12.13
2023-09-01 00:00:00-04:00    12.14
Name: Close, dtype: float64
FTNT
Date
2023-08-30 00:00:00-04:00    61.220001
2023-08-31 00:00:00-04:00    60.209999
2023-09-01 00:00:00-04:00    60.869999
Name: Close, dtype: float64
FTV
Date
2023-08-30 00:00:00-04:00    79.120003
2023-08-31 00:00:00-04:00    78.849998
2023-09-01 00:00:00-04:00    79.019997
Name: Close, dtype: float64
FOXA
Date
2023-08-30 00:00:00-04:00    33.400002